.container {
  max-width: 650px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 0.25rem;
}

.col-full,
.col-half {
  width: 100%;
}

.p-container {
  max-width: 26rem;
}

hr {
  width: 16.5rem;
}

hr.objects-hr {
  width: 95%;
}

input {
  width: 18rem;
}

@media screen and (min-width: 750px) {
  .container {
    max-width: 950px;
  }

  .col-full,
  .col-half {
    padding: 0 0.5rem;
  }

  .col-half {
    width: 50%;
  }

  .search-wrapper {
    width: 44.4rem;
  }

  hr {
    width: 31.125rem;
  }

  hr.objects-hr {
    width: 100%;
  }

  input {
    width: 39rem;
  }

  .obj-img-container {
    padding-right: 1.8rem;
    padding-left: 0;
  }
}

ul {
  padding: 0.5rem 0.6rem;
}

li {
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.button-container {
  padding-top: 1.75rem;
}

.display-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.hidden {
  display: none;
}
