body {
  background-color: white;
  font-family: Lato, sans-serif;
}

header {
  background-color: #eb0029;
  color: white;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 3.75rem;
}

header h1 {
  font-size: 2.125rem;
  margin-block-start: 0.7rem;
  margin-block-end: 0.7rem;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.75rem;
  color: #1b3767;
  margin-bottom: 1rem;
}

h2.discover-heading-text {
  text-align: center;
}

hr {
  border: 1px inset #1b3767;
  border-bottom: none;
  margin-bottom: 3.2rem;
}

i {
  color: white;
  padding: 0 0.8rem;
}

input {
  font-family: inherit;
  font-size: 1rem;
  border-style: none;
  background-color: #f5f5f5;
}

input:focus {
  outline: none;
}

.search-wrapper {
  border: 2px solid #1b3767;
  max-width: 44.4rem;
  min-width: 21.69rem;
  height: 2.8rem;
  margin-bottom: 1.25rem;
  background-color: #f5f5f5;
}

.search-wrapper:focus-within {
  border-color: #eb0029;
}

.fa-list-ul {
  font-size: 1.75rem;
}

i.fa-search {
  color: #1b3767;
  padding-left: 0.5rem;
  padding-right: 1.2rem;
}

.drop-shadow {
  filter: drop-shadow(0 2px 2px rgb(165, 156, 156));
}

.hero-img-container {
  width: 347px;
  padding-bottom: 2rem;
}

.hero-img {
  width: 100%;
}

.discover-text {
  text-align: center;
  line-height: 150%;
}
