body {
  font-family: Lato, serif;
}

header {
  background-color: #eb0029;
  color: white;
  font-family: "Libre Baskerville", serif;
  filter: drop-shadow(0 2px 2px rgb(165, 156, 156));
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-family: "Libre Baskerville", serif;
  color: #264d8f;
}

.discover {
  text-align: center;
}

h3 {
  font-weight: 400;
}

hr {
  border: 1px solid #264d8f;
}

li {
  list-style: none;
  background-color: #f5f5f5;
  color: #333;
  box-shadow: 1px 3px 3px #b6b6b6;
  border-radius: 2px;
}

input {
  font-family: inherit;
  font-size: 1rem;
  border-style: none;
  background-color: #f5f5f5;
}

input:focus {
  outline: none;
}

button.must-see {
  /* consider renaming to more precise class name if only referring to nav */
  background-color: #eb0029;
  border: none;
  padding: 0;
}

button.must-see:hover {
  cursor: pointer;
}

.search-wrapper {
  border: 2px solid #264d8f;
  background-color: #f5f5f5;
}

.search-wrapper:focus-within {
  border-color: #eb0029;
}

.eye-icon {
  font-size: 1.4rem;
}

.delete {
  font-size: 1.5rem;
}

i {
  color: white;
}

.fa-list-ul {
  font-size: 1.75rem;
}

.fa-search {
  color: #264d8f;
}

.fa-plus {
  color: #eb0029;
  font-size: 1.55rem;
}

.fa-plus:hover {
  color: #264d8f;
}

.fa-paint-brush {
  font-size: 1.25rem;
}

.fa-check {
  color: #264d8f;
  font-size: 1.565rem;
  padding-right: 0.25rem;
}

.fa-eye-slash,
.fa-trash {
  color: #b6b6b6;
}

.icon-button {
  border: none;
  background-color: transparent;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:focus-visible > i {
  color: #264d8f;
}

.met-blue {
  color: #264d8f;
}

.discover-text {
  text-align: center;
  line-height: 150%;
}

.button {
  background-color: #eb0029;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  border: 1px solid #264d8f;
  background-color: #264d8f;
}

.view-link {
  text-decoration: none;
  color: inherit;
}

.error-msg {
  text-align: center;
  line-height: 1.5;
}

.drk-gry {
  color: #333;
}

.grey {
  color: #b6b6b6;
}

.met-red {
  color: #eb0029;
}

.link {
  color: #264d8f;
}

.link:hover,
.link:active,
.link:focus,
.link:focus-visible {
  color: #eb0029;
}

.section-heading::after {
  content: "";
  display: block;
  padding-bottom: 1rem;
  border-bottom: 2px solid #264d8f;
}

@media screen and (min-width: 750px) {
  h1 {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.562rem;
  }
}
